/* Archivo: style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #ff4500;
    color: white;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

#menu .pizza {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#pedido form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#pedido form label, #pedido form input, #pedido form select, #pedido form button {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
